<div class="container">
  <%= render 'bosses/shared/header', tab: 'basic' %>
  <% max_dps = @fps.map{|fp| fp.dps || 0 }.max.to_i %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Damage per Second',
      desc: 'Total damage / Fight time. Pet damage is shown with a separate color',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          light_bar_width: bar_width(fp.dps, max_dps),
          main_bar_width: bar_width(fp.kpi_hash[:player_damage_done].to_i, fp.kpi_hash[:player_damage_done].to_i + fp.kpi_hash[:pet_damage_done].to_i),
          main_bar_text: "#{fp.dps}/s",
          main_text: "#{(fp.kpi_hash[:player_damage_done].to_i + fp.kpi_hash[:pet_damage_done].to_i) / 1000}k total damage (#{fp.kpi_hash[:pet_damage_done].to_i / 1000}k pet)"
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Cast Efficiency',
      desc: 'Make sure you are casting your key spells on cooldown. Your cast score is determined by a weighted average, with more emphasis placed on abilities with longer cooldown times.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: fp.kpi_hash[:casts_score].to_i,
          main_bar_text: "#{fp.kpi_hash[:casts_score].to_i}%",
          main_text: "#{fp.kpi_hash[:casts_score].to_i}\% cast efficiency",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Festering Wound Efficiency',
      desc: 'Use Festering Strike to apply Festering Wound, and Scourge Strike to burst them. Try to burst all Festering Wounds, and avoid casting Festering Strike when the target has more than 5 stacks already, to prevent over-capping.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          light_bar_width: bar_width(fp.kpi_hash[:festering_gained].to_i + fp.kpi_hash[:festering_popped].to_i, fp.kpi_hash[:festering_gained].to_i + fp.kpi_hash[:festering_popped].to_i + fp.kpi_hash[:festering_capped].to_i),
          main_bar_width: bar_width(fp.kpi_hash[:festering_popped].to_i, fp.kpi_hash[:festering_gained].to_i),
          main_bar_text: "#{fp.kpi_hash[:festering_popped].to_i}/#{fp.kpi_hash[:festering_gained].to_i} burst",
          main_text: "#{fp.kpi_hash[:festering_capped].to_i} possibly lost to cap",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Virulent Plague Uptime',
      desc: "The percentage of time Virulent Plague was active on targets you were attacking. A red area means that you were attacking an enemy with no Virulent Plague. 100% isn't realistic, but try to maximize uptime.",
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: fp.debuff_upratio(:vplague),
          main_bar_text: fp.debuff_upratio_s(:vplague),
          main_text: fp.debuff_upratio_s(:vplague),
        }
      }
    } 
  %>
  <% if @fps.reject{|fp| fp.talent(6) != 'Soul Reaper'}.count > 0 %>
    <%= render 'bosses/shared/section', 
      {
        title: 'Soul Reaper Usage',
          desc: 'After casting Soul Reaper, try to burst as many Festering Wounds within the 5 second window as possible for the haste buff.',
        sub_bars: @fps.reject{|fp| fp.talent(6) != 'Soul Reaper'}.map{|fp| 
          {
            fp: fp,
            white_bar: true,
            main_bar_width: bar_width(fp.kpi_hash[:soulreaper_popped].to_i, fp.kpi_hash[:soulreaper_count].to_i * 3),
            main_bar_text: "#{fp.kpi_hash[:soulreaper_popped].to_i} burst",
            main_text: "#{(1.0 * fp.kpi_hash[:soulreaper_popped].to_i / fp.kpi_hash[:soulreaper_count].to_i).round(2)} burst per cast",
          }
        }
      } 
    %>
  <% end %>
</div>
<%= render 'bosses/shared/footer', tab: 'basic' %>

