<div class="container">
  <%= render 'bosses/shared/header', tab: 'basic' %>
  <% max_dps = @fps.map{|fp| fp.dps || 0 }.max.to_i %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Damage per Second',
      desc: 'Total damage / Fight time. Pet damage is shown with a separate color',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          light_bar_width: bar_width(fp.dps, max_dps),
          main_bar_width: bar_width(fp.kpi_hash[:player_damage_done].to_i, fp.kpi_hash[:player_damage_done].to_i + fp.kpi_hash[:pet_damage_done].to_i),
          main_bar_text: "#{fp.dps}/s",
          main_text: "#{(fp.kpi_hash[:player_damage_done].to_i + fp.kpi_hash[:pet_damage_done].to_i) / 1000}k total damage (#{fp.kpi_hash[:pet_damage_done].to_i / 1000}k pet)"
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Cast Efficiency',
      desc: 'Make sure you are casting your key spells on cooldown. Your cast score is determined by a weighted average, with more emphasis placed on abilities with longer cooldown times.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: fp.kpi_hash[:casts_score].to_i,
          main_bar_text: "#{fp.kpi_hash[:casts_score].to_i}%",
          main_text: "#{fp.kpi_hash[:casts_score].to_i}\% cast efficiency",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Fury of the Eagle usage',
      desc: 'Only use Fury of the Eagle when you have 6 stacks of Mongoose Fury.',
      sub_bars: @fps.reject{|fp| fp.kpi_hash[:eagle_stacks].nil? }.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.kpi_hash[:eagle_stacks][6].to_i, fp.kpi_hash[:eagle_stacks].values.map{|a|a}.sum),
          main_bar_text: "Cast #{fp.kpi_hash[:eagle_stacks][6].to_i} / #{fp.kpi_hash[:eagle_stacks].values.map{|a|a}.sum}",
          main_text: "Cast #{fp.kpi_hash[:eagle_stacks][6].to_i} times at 6 stacks",
        }
      }
    } 
  %>
  <% max_moknathal = @fps.map{|fp| fp.kpi_hash[:moknathal_uptime].to_i}.max.to_i %>
  <% if max_moknathal > 0 %>
    <%= render 'bosses/shared/section', 
      {
        title: 'Way of the Mok\'Nathal Uptime',
        desc: 'The duration that you had Way of the Mok\'Nathal at 4 stacks. Try to maintain this buff as much as possible. A red area means Way of the Mok\'Nathal was not active, and a yellow area means that it was at less than 4 stacks.',
        sub_bars: @fps.reject{|fp| fp.kpi_hash[:moknathal_uptime].to_i == 0 }.map{|fp| 
          {
            fp: fp,
            white_bar: true,
            main_bar_width: bar_width(fp.kpi_hash[:moknathal_uptime].to_i, fp.ended_at - fp.started_at),
            main_bar_text: "#{fp.kpi_hash[:moknathal_uptime].to_i / (10 * fp.fight_time)}%",
            main_text: "#{fp.kpi_hash[:moknathal_uptime].to_i / 1000}s / #{fp.fight_time}s",
          }
        }
      } 
    %>
  <% end %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Lacerate Uptime',
      desc: 'The percentage of time the Lacerate debuff was active on targets you were attacking. A red area means that you were attacking an enemy with no Lacerate debuff. Aim for 100% uptime.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.resources_hash[:lacerate_uptime].to_i / 1000, fp.fight_time),
          main_bar_text: "#{fp.resources_hash[:lacerate_uptime].to_i / 1000}/#{fp.fight_time}",
          main_text: "#{fp.resources_hash[:lacerate_uptime].to_i / 1000}/#{fp.fight_time}",
        }
      }
    } 
  %>
</div>
<%= render 'bosses/shared/footer', tab: 'basic' %>

