<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Burn Phase - Deplete Mana',
      desc: 'During each burn phase, you should cast Arcane Power and spend as much mana as possible',
      white_bar: true,
      main_bar_width: @fp.resources_hash[:avg_burn].to_i,
      main_bar_text: "#{@fp.resources_hash[:avg_burn].to_i}%",
      main_text: "#{@fp.resources_hash[:avg_burn].to_i}% mana spent per phase (avg)",
      sub_bars: @cooldowns['cd']['Burn Phase'].nil? ? nil : @cooldowns['cd']['Burn Phase'].map{|cd| 
        {
          label: "#{cd.time_s}",
          white_bar: true,
          width: cd.kpi_hash[:start_mana].to_i - cd.kpi_hash[:end_mana].to_i,
          text: "#{cd.kpi_hash[:start_mana].to_i - cd.kpi_hash[:end_mana].to_i}%",
          sub_text: "#{cd.kpi_hash[:start_mana].to_i}% &rarr; #{cd.kpi_hash[:end_mana].to_i}%".html_safe,
        }
      },
    } 
  %>
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Burn Phase - Stay at full Arcane Charge stacks',
      desc: 'During each burn phase, you should stay at 4 stacks of Arcane Charge',
      white_bar: true,
      main_bar_width: bar_width(@fp.resources_hash[:burn_ac4_uptime].to_i, @fp.resources_hash[:burn_uptime].to_i),
      main_bar_text: "#{100 * @fp.resources_hash[:burn_ac4_uptime].to_i / @fp.resources_hash[:burn_uptime].to_i rescue 0}%",
      main_text: "Had 4 stacks #{100 * @fp.resources_hash[:burn_ac4_uptime].to_i / @fp.resources_hash[:burn_uptime].to_i rescue 0}% of the time",
      sub_bars: @cooldowns['cd']['Burn Phase'].nil? ? nil : @cooldowns['cd']['Burn Phase'].map{|cd| 
        {
          label: "#{cd.time_s}",
          bar_key: 'burn-w',
          val: (cd.ended_at - cd.started_at rescue 0),
          white_bar: true,
          width: bar_width(cd.kpi_hash[:ac4_uptime].to_i, (cd.ended_at - cd.started_at rescue 0)),
          text: "#{100 * cd.kpi_hash[:ac4_uptime].to_i / (cd.ended_at - cd.started_at) rescue 0}%",
          sub_text: "Had 4 stacks #{100 * cd.kpi_hash[:ac4_uptime].to_i / (cd.ended_at - cd.started_at) rescue 0}% of the time",
        }
      },
    } 
  %>
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Evocation - Mana gained',
      desc: 'East cast of Evocation should be used with 4 stacks of Arcane Charge, and should be channeled until you have full mana.',
      white_bar: true,
      main_bar_width: @fp.resources_hash[:avg_evocation].to_i,
      main_bar_text: "#{@fp.resources_hash[:avg_evocation].to_i}%",
      main_text: "#{@fp.resources_hash[:avg_evocation].to_i}% mana gained per cast (avg)",
      sub_bars: @cooldowns['cd']['Evocation'].nil? ? nil : @cooldowns['cd']['Evocation'].map{|cd| 
        {
          label: "#{cd.time_s}",
          white_bar: true,
          width: cd.kpi_hash[:end_mana].to_i - cd.kpi_hash[:start_mana].to_i,
          text: "#{cd.kpi_hash[:end_mana].to_i - cd.kpi_hash[:start_mana].to_i}%",
          sub_text: "#{cd.kpi_hash[:start_mana].to_i}% &rarr; #{cd.kpi_hash[:end_mana].to_i}%".html_safe,
        }
      },
    } 
  %>
  <% if @fp.resources_hash[:rp_uptime].to_i > 0 %>
    <%= render 'fight_parses/shared/section', 
      {
        title: 'Rune of Power Uptime',
        desc: 'The percent of the fight that you had Rune of Power active. Aim for 100%.',
        white_bar: true,
        main_bar_width: bar_width(@fp.resources_hash[:rp_uptime].to_i, 1000 * @fp.fight_time),
        main_bar_text: "#{@fp.resources_hash[:rp_uptime].to_i / (10 * @fp.fight_time)}%",
        main_text: "#{@fp.resources_hash[:rp_uptime].to_i / 1000}s / #{@fp.fight_time}s",
      } 
    %>
  <% end %>
  <% percent = 100 * (@fp.fight_time - @fp.resources_hash[:abc_wasted].to_f) / @fp.fight_time %>
  <%= render 'fight_parses/shared/table', 
    {
      title: 'Always Be Casting (Experimental)',
      desc: 'You should do your best to minimize downtime without casts (although 100% is unrealistic), by starting casts directly after the previous cast has finished, and by filling your GCDs with instant casts while moving. This section shows how much downtime you had over the course of the fight. The dropdown list shows cancelled casts, as well as periods of downtime that lasted more than 1 second.',
      white_bar: true,
      main_bar_width: percent,
      main_bar_text: "#{@fp.fight_time - @fp.resources_hash[:abc_wasted].to_f}/#{@fp.fight_time}",
      main_text: "#{@fp.resources_hash[:abc_wasted].to_i} seconds of downtime",
      dropdown: {id: 'abc'},
      labels: ['Time', 'Spell', 'Downtime before cast'],
      rows: @fp.resources_hash[:abc_fails].nil? ? nil : @fp.resources_hash[:abc_fails].map{|row| [{value: @fp.event_time(row[:timestamp], true)}, {value: row[:name]}, {value: (row[:cancelled] ? "Cast cancelled" : "#{row[:wasted]} seconds")}]},
    } 
  %>
</div>
<%= render 'fight_parses/shared/js', {tab: 'resources'} %> 
<script>
  $(['burn-w']).each(function(index, key){
    resizeBars(key)
  });
</script>
