<div class="container">
  <%= render 'bosses/shared/header', tab: 'resources' %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Time not Energy-Capped',
      desc: 'The percent of the fight that you had less than max Energy. Aim for 100%.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.fight_time - fp.resources_hash[:capped_time].to_i, fp.fight_time),
          main_bar_text: "#{fp.fight_time - fp.resources_hash[:capped_time].to_i}s",
          main_text: "#{fp.fight_time - fp.resources_hash[:capped_time].to_i}s / #{fp.fight_time}s",
        }
      }
    } 
  %>
  <% max_combo = @fps.map{|fp| (1.0 * fp.resources_hash[:combo_gain].to_i / fp.fight_time).round(2)}.max.to_i %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Combo Points Gained',
      desc: 'Avoid overcapping Combo Points by not using Combo Point-generating abilities that would put you over the maximum amount.',
      white_bar: true,
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          white_bar_width: bar_width((1.0 * fp.resources_hash[:combo_gain].to_i / fp.fight_time).round(2), max_combo),
          main_bar_width: bar_width(fp.resources_hash[:combo_gain].to_i, fp.resources_hash[:combo_gain].to_i + fp.resources_hash[:combo_waste].to_i),
          main_bar_text: "#{fp.resources_hash[:combo_gain].to_i}/#{fp.resources_hash[:combo_gain].to_i + fp.resources_hash[:combo_waste].to_i}",
          main_text: "#{(1.0 * fp.resources_hash[:combo_gain].to_i / fp.fight_time).round(2)} per second",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Combo Points Usage - Rip',
      desc: 'The amount of Combo Points spent on each cast of Rip. Try to cast with 5 Combo Points as often as possible.',
      white_bar: true,
      sub_bars: @fps.reject{|fp| (fp.resources_hash[:combo_spend]['Rip'][:combo].map{|k,v| v }.sum rescue 0) == 0}.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.resources_hash[:combo_spend]['Rip'][:combo][5].to_i, fp.resources_hash[:combo_spend]['Rip'][:combo].map{|k,v| v }.sum),
          main_bar_text: "#{fp.resources_hash[:combo_spend]['Rip'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Rip'][:combo].map{|k,v| v }.sum}",
          main_text: "#{fp.resources_hash[:combo_spend]['Rip'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Rip'][:combo].map{|k,v| v }.sum} casts with 5 Combo Points",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Combo Points Usage - Ferocious Bite',
      desc: 'The amount of Combo Points spent on each cast of Ferocious Bite. Try to cast with 5 Combo Points as often as possible.',
      white_bar: true,
      sub_bars: @fps.reject{|fp| (fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo].map{|k,v| v }.sum rescue 0) == 0}.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo][5].to_i, fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo].map{|k,v| v }.sum),
          main_bar_text: "#{fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo].map{|k,v| v }.sum}",
          main_text: "#{fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Ferocious Bite'][:combo].map{|k,v| v }.sum} casts with 5 Combo Points",
        }
      }
    } 
  %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Combo Points Usage - Savage Roar',
      desc: 'The amount of Combo Points spent on each cast of Savage Roar. Try to cast with 5 Combo Points as often as possible.',
      white_bar: true,
      sub_bars: @fps.reject{|fp| (fp.resources_hash[:combo_spend]['Savage Roar'][:combo].map{|k,v| v }.sum rescue 0) == 0}.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.resources_hash[:combo_spend]['Savage Roar'][:combo][5].to_i, fp.resources_hash[:combo_spend]['Savage Roar'][:combo].map{|k,v| v }.sum),
          main_bar_text: "#{fp.resources_hash[:combo_spend]['Savage Roar'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Savage Roar'][:combo].map{|k,v| v }.sum}",
          main_text: "#{fp.resources_hash[:combo_spend]['Savage Roar'][:combo][5].to_i}/#{fp.resources_hash[:combo_spend]['Savage Roar'][:combo].map{|k,v| v }.sum} casts with 5 Combo Points",
        }
      }
    } 
  %>
</div>
<%= render 'bosses/shared/footer', tab: 'basic' %>
