<%= render 'fight_parses/shared/new_header', {active_tab: @tab} %>
<div class="container">
  <% score = 100 * (@fp.fight_time - @fp.resources_hash[:capped_time].to_i) / @fp.fight_time %>
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Time not Rage-Capped',
      desc: 'The percent of the fight that you had less than max Rage. Aim for 100%.',
      label: score > 98 ? 'good' : score > 95 ? 'ok' : 'bad',
      white_bar: true,
      main_bar_width: bar_width(@fp.fight_time - @fp.resources_hash[:capped_time].to_i, @fp.fight_time),
      main_bar_text: "#{@fp.fight_time - @fp.resources_hash[:capped_time].to_i}s",
      main_text: "#{@fp.fight_time - @fp.resources_hash[:capped_time].to_i}s / #{@fp.fight_time}s",
    } 
  %>
  <% score = 100 * @fp.resources_hash[:rage_gain].to_i / (@fp.resources_hash[:rage_gain].to_i + @fp.resources_hash[:rage_waste].to_i) rescue 0 %>
  <%= render 'fight_parses/shared/section', 
    {
      title: 'Rage Gained',
      desc: 'Avoid overcapping Rage by not using Rage-generating abilities that would put you over the maximum amount.',
      label: score == 100 ? 'good' : score > 95 ? 'ok' : 'bad',
      white_bar: true,
      main_bar_width: bar_width(@fp.resources_hash[:rage_gain].to_i, @fp.resources_hash[:rage_gain].to_i + @fp.resources_hash[:rage_waste].to_i),
      main_bar_text: "#{@fp.resources_hash[:rage_gain].to_i}/#{@fp.resources_hash[:rage_gain].to_i + @fp.resources_hash[:rage_waste].to_i}",
      main_text: "#{@fp.resources_hash[:rage_waste].to_i} wasted",
      sub_bars: @fp.resources_hash[:rage_abilities].nil? ? nil : @fp.resources_hash[:rage_abilities].values.sort{|a, b| (b[:gain].to_i + b[:waste].to_i) <=> (a[:gain].to_i + a[:waste].to_i)}.map{|item| 
        {
          label: item[:name],
          white_bar: true,
          bar_key: 'rage-w',
          val: item[:gain].to_i + item[:waste].to_i,
          width: bar_width(item[:gain].to_i, item[:gain].to_i + item[:waste].to_i),
          text: "#{item[:gain].to_i}/#{item[:gain].to_i + item[:waste].to_i}",
          sub_text: "#{item[:waste].to_i} wasted",
        }
      },
    } 
  %>
  <% if @fp.talent(0) == 'Bristling Fur' %>
    <% score = 100 * @fp.resources_hash[:bristling_gained].to_i / (@fp.resources_hash[:bristling_gained].to_i + @fp.resources_hash[:bristling_wasted].to_i) rescue 0 %>
    <%= render 'fight_parses/shared/section', 
      {
        title: 'Bristling Fur Effectiveness',
        desc: 'The total amount of rage generated through Bristling Fur.',
        label: score == 100 ? 'good' : score > 95 ? 'ok' : 'bad',
        white_bar: true,
        main_bar_width: bar_width(@fp.resources_hash[:bristling_gained].to_i, @fp.resources_hash[:bristling_gained].to_i + @fp.resources_hash[:bristling_wasted].to_i),
        main_bar_text: "#{@fp.cooldowns_hash[:bristling_gained].to_i}/#{@fp.resources_hash[:bristling_gained].to_i + @fp.resources_hash[:bristling_wasted].to_i}",
        main_text: "#{@fp.resources_hash[:bristling_wasted].to_i} wasted",
        sub_bars: @cooldowns['cd']['Bristling Fur'].nil? ? nil : @cooldowns['cd']['Bristling Fur'].map{|item| 
          {
            label: item.time_s, 
            bar_key: 'bristling-w',
            val: item.kpi_hash[:rage_gained].to_i,
            white_bar: true,
            width: bar_width(item.kpi_hash[:rage_gained].to_i, item.kpi_hash[:rage_gained].to_i + item.kpi_hash[:rage_wasted].to_i),
            text: "#{item.kpi_hash[:rage_gained].to_i}/#{item.kpi_hash[:rage_gained].to_i + item.kpi_hash[:rage_wasted].to_i}",
            sub_text: "#{item.kpi_hash[:rage_wasted].to_i} wasted",
          }
        },
      } 
    %>
  <% end %>
</div>
<%= render 'fight_parses/shared/js', {tab: 'resources'} %> 
<script>
    $(['cd-w', 'rage-w', 'bristling-w']).each(function(index, key){
    resizeBars(key)
  });
</script>