<div id="players-dropdown" class="custom-dropdown">
  <%= Player.player_tag(player_name, player_class, player_spec) %>
  <div id="players-dropdown-list" class="list" style="width: <%=(players.size/10.0).ceil * 150%>px; display: none;">
    <div class="col-sm-<%=(12.0/(players.size/10.0).ceil).ceil%>" style="padding: 0px; border-right: 1px solid #555555">
      <% players.each_with_index do |player, i| %>
        <%= link_to "<div class='item'>#{Player.player_tag(player[1], player[2], player[3])}</div>".html_safe, report_fight_parse_path(report.report_id, player[0], fight_id) %>
        <% if (i + 1) % 10 == 0 %>
          </div>
          <div class="col-sm-<%=(12.0/(players.size/10.0).ceil).ceil%>" style="padding: 0px; border-right: 1px solid #555555">
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("#players-dropdown").parent().mouseover(function() {
    $("#players-dropdown-list").show();
  });
  $("#players-dropdown").parent().mouseout(function() {
    $("#players-dropdown-list").hide();
  });
</script>