<div class="container">
  <%= render 'bosses/shared/header', tab: 'resources' %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Time not Rage-Capped',
      desc: 'The percent of the fight that you had less than max Rage. Aim for 100%.',
      sub_bars: @fps.map{|fp| 
        {
          fp: fp,
          white_bar: true,
          main_bar_width: bar_width(fp.fight_time - fp[:resources_hash][:capped_time].to_i, fp.fight_time), 
          main_bar_text: "#{fp.fight_time - fp[:resources_hash][:capped_time].to_i}s",
          main_text: "#{fp.fight_time - fp[:resources_hash][:capped_time].to_i}s / #{fp.fight_time}s"
        }
      }
    } 
  %>
  <% max_rage = @fps.map{|fp| 100 * (fp.resources_hash[:rage_gain].to_i + fp.resources_hash[:rage_waste].to_i) / fp.fight_time rescue 0}.max.to_i %>
  <%= render 'bosses/shared/section', 
    {
      title: 'Rage Gained',
      desc: 'Avoid overcapping Rage by not using Rage-generating abilities that would put you over the maximum amount.',
      sub_bars: @fps.map{|fp|
        {
          fp: fp,
          white_bar: true,
          white_bar_width: bar_width(100 * (fp.resources_hash[:rage_gain].to_i + fp.resources_hash[:rage_waste].to_i) / fp.fight_time, max_rage),
          main_bar_width: bar_width(fp.resources_hash[:rage_gain].to_i, fp.resources_hash[:rage_gain].to_i + fp.resources_hash[:rage_waste].to_i),
          main_bar_text: "#{fp.resources_hash[:rage_gain].to_i}/#{fp.resources_hash[:rage_gain].to_i + fp.resources_hash[:rage_waste].to_i}",
          main_text: "#{(1.0 * fp.resources_hash[:rage_gain].to_i / fp.fight_time).round(2)}/sec",
        }
      }
    }
  %>
  <% if (fps = @fps.reject{|fp| fp.talent(0) != 'Bristling Fur'}).count > 0 %>
    <% max_bristling = fps.map{|fp| 100 * (fp.resources_hash[:bristling_gained].to_i + fp.resources_hash[:bristling_wasted].to_i) / fp.fight_time rescue 0}.max.to_i %>
    <%= render 'bosses/shared/section', 
      {
        title: 'Bristling Fur Effectiveness',
        desc: 'The total amount of rage generated through Bristling Fur.',
        sub_bars: fps.map{|fp|
          {
            fp: fp,
            white_bar: true,
            white_bar_width: bar_width(100 * (fp.resources_hash[:bristling_gained].to_i + fp.resources_hash[:bristling_wasted].to_i) / fp.fight_time, max_bristling),
            main_bar_width: bar_width(fp.resources_hash[:bristling_gained].to_i, fp.resources_hash[:bristling_gained].to_i + fp.resources_hash[:bristling_wasted].to_i),
            main_bar_text: "#{fp.cooldowns_hash[:bristling_gained].to_i}/#{fp.resources_hash[:bristling_gained].to_i + fp.resources_hash[:bristling_wasted].to_i}",
            main_text: "#{fp.resources_hash[:bristling_wasted].to_i} wasted",
          }
        }
      }
    %>
  <% end %>
</div>
<%= render 'bosses/shared/footer', tab: 'basic' %>
